<title>Admin päävalikko</title> 

<h1>Admin päävalikko</h1>

<h2>Käyttäjät:</h2>
<hr>
{% for user in users %}
<i>id:</i> {{ user[0] }}
<p>
<i>käyttäjänimi:</i> {{ user[1] }}
{% if session.user_id != user[0] %}
<form action="/del/user" method="post">
    <input type="hidden" name="user_id" value="{{ user[0] }}">
    <button type="submit">Poista käyttäjä</button>
</form>
{% endif %}
<form action="/add/admin" method="post">
    <input type="hidden" name="user_id" value="{{ user[0] }}">
    <button type="submit">Lisää pääkäyttäjäksi</button>
</form>
<hr>
{% endfor %}

<h2>Tuotteet:</h2>

<hr>
{% for product in products %}
<i>Tuote:</i> {{ product[1] }}
<p>
<i>Kuvaus:</i> {{ product[2] }}
<p>
<i>Hinta:</i> {{ product[3] }} €
<p>
<i>Päivämäärä:</i> {{ product[4] }}
<p>
<i>Aika:</i> {{ product[5] }}
<hr>
{% endfor %}

<h2>Adminit:</h2>

<hr>
{% for admin in admins %}
<i>Käyttäjä:</i> {{ admin[0] }}
<p>
<i>Oikeus:</i> {{ admin[1] }}
<hr>
{% endfor %}

<h2>Varaukset:</h2>
{% for reservation in reservations %}
<i>Käyttäjä id:</i> {{ reservation[1] }}
<p>
<i>Tuote id:</i> {{ reservation[2] }}
<p>
<i>Aika:</i> {{ reservation[3] }}
<hr>
{% endfor %}