{% if session.user_id %}
Omat palautteet: | <a href="/inbox">Takaisin</a> 
<hr>
{% for message in messages %}
<i>Palaute:</i> {{ message[1] }}
<p>
<i>Lähettäjä:</i> {{ message[2] }}
<p>
<i>Aika:</i> {{ message[3].strftime("%Y-%m-%d %H:%M:%S") }}
<p>
<form action="/delete" method="post">
<input type="hidden" name="message_id" value="{{ message.id }}">
<button type="submit">Poista palaute</button>
<hr>
</form>
{% endfor %}
{% else %}
<a href="/login">Kirjaudu sisään</a> nähdäksesi omat palautteet!
{% endif %}
