<title>Helsingin vesijetti</title> 
<h1>Helsingin vesijetti</h1>
<h3>Vuokraa upouudet vesijetit Helsingissä.</h3>
<i>Koe vauhdinhuuma, kesä, saaristo ja meri! Se laadukkaampi vesiurheiluvuokraamo.</i>
<p>
<a href="/booking">Varaa tästä!</a>
<p>
<a href="/inbox">Palautteet</a>
<p>
{% if session.user_id %}
Olet kirjautunut käyttäjälle {{session.username}}
<p>
<a href="/profile/{{ session.user_id }}">Profiiliin</a>
{% if role %}
<a href="/admins">Admin sivuille</a>
{% endif %}
<a href="/logout">Kirjaudu ulos</a>
{% else %}
<a href="/login">Kirjaudu sisään</a> tai <a href="/register">Rekisteröidy</a>
{% endif %}
<h3>Saapumisohjeet paikanpäälle</h3>
<div>
    <figure>
        <img src="/static/vesijettikuva.jpg" height="300" width="500" alt="kuva kartasta">
    </figure>
</div>


{% for i in info %}
<h3>{{ i[0] }}</h3>
<p>
<h4>{{ i[1] }}</h4>
<p>
<i>Luotu:</i> {{ i[2].strftime("%Y-%m-%d") }}
{% endfor %}
