<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vaihda salasana</title>
    <script>
        function showConfirmation(event) {
            event.preventDefault();

            if (confirm("Oletko varma, että haluat vaihtaa salasanan?")) {
                event.target.submit();
            }
        }
    </script>
</head>
<body>
    <h1>Vaihda salasana</h1>
    <a href="/profile/{{ session.user_id }}">Takaisin</a>
    <form action="/password/{{ session.user_id }}" method="post" onsubmit="showConfirmation(event)">
        <p>
            Uusi salasana: <input type="password" name="new_password">
        </p>
        <p>
            Salasana uudestaan: <input type="password" name="confirm_password">
        </p>
        <input type="submit" value="Vahvista">
    </form>
</body>
</html>

